[Unit]
Description=GRIND frontend
After=network.target

[Service]
Type=simple
User=__DEPLOY_USER__
WorkingDirectory=__DEPLOY_ROOT__/frontend
ExecStart=__NPM_BIN__ run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
