[Unit]
Description=GRIND frontend
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/grind/frontend
ExecStart=/usr/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
